@import url('https://fonts/.googleapis.com/css2?family=Alef:wght@400;700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
#HomeContent{
  z-index: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
  width: 100%;
  height: fit-content;
  min-height: 100vh;
  background: rgb(1, 1, 27);
  position: absolute;
}
.banner{
  position: absolute;
  display: flex;
  justify-content: center;
  overflow: hidden;
  height: 100vh;
}
#backgroundSVGs{
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100vh;
}
#backgroundSVGs > img{
  position: absolute;
  width: 100%;
  height: 100%;
  filter: blur(100px);
}
#blob1{
  z-index: 1;
  animation: flowingbackground1 30s ease-in-out infinite;
  animation-delay: .06s;
}
#blob2{
  z-index: 2;
  animation: flowingbackground2 35s ease-in-out infinite;
  animation-delay: .03s;
}
#MainBento{
  position: relative;
  z-index: 10;
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: 10px;
  margin-top: 100px;
  background: rgba(14, 19, 34,.6);
  /**border: solid 0.5px rgba(22, 99, 207, 0.16);**/
  border-radius: 24px; 
  width: 75%;
  height: 80vh;
  min-width: 1000px;
}
#MainBento > *{
  border-radius: 20px;
  overflow: hidden;
}
#MainBentoTitle{
  display: grid;
  gap: 5px;
  grid-template-columns: 1fr;
  grid-template-rows: auto 250px;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}
#MainBentoTitleProducts{
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 4px;
  border-radius: 20px;
  color: aliceblue;
  min-height: 240px;
  height: fit-content;
  width: 100%;
  overflow-x: auto;
  scroll-behavior: smooth;
}
#MainBentoTitleProducts::-webkit-scrollbar{
  display: block;
  background-color: rgba(0,0,0,.0);
  height: 10px;
  margin-top: -10px;
  position: relative;
}
#MainBentoTitleProducts::-webkit-scrollbar-corner{
  background-color: aqua;
}
#MainBentoTitleProducts::-webkit-scrollbar-thumb {
  background-color: #224777;
  border-radius: 5px; 
}
#MainBentoTitleProducts::-webkit-scrollbar-thumb:hover {
  background-color: #337eaa;
}
#MainBentoTitleProducts > *{
  min-width: 200px;
  min-height: 200px;
  border-radius: 20px;
}
#MainBentoTitleProduct:last-child{
  margin-right: 30px;
}
#MainBentoTitle > *{
  margin: 5px;
}
#MainBentoTitlePicture{
  display: flex; 
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  min-height: 400px;
}
#MainBentoTitlePictureImg{
  position: absolute;
  z-index: 1;
  display: flex;
  height: 100%;
  width: 100%;
}
#MainBentoTitlePictureImg img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
#MainBentoTitlePictureText{
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  justify-content: end;
  position: absolute;
  z-index: 2;
  color: white;
  background-color: rgba(0,0,0,.2);
  animation: InitBgEntrance 2s ease-in-out;
}

#MainBentoTitlePictureText * > *{
  margin-bottom: 0px;
}
#MainBentoTitlePictureText * {
  margin-left: 15px;
  overflow: hidden;
  position: relative;
}
#MainBentoTitlePictureTextTitle{
  font-family: "Alef", sans-serif;
  font-size: 2.2rem;
  font-style: normal;
  font-weight: 900;
}
#MainBentoTitlePictureTextTitle > h1{
  animation: InitTextEntrance .7s .04s ease-in-out;
}
#MainBentoTitlePictureTextSubTitle{
  margin-bottom: 40px;
  font-family: "Poiret One", sans-serif;
  font-size: 2rem;
}
#MainBentoTitlePictureTextSubTitle > p{
  animation: InitTextEntrance .7s .05s ease-in-out;

}
#MainBentoTitleFunctions {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px,1fr)); /* Dos columnas de igual ancho */
  grid-auto-rows: 1fr; /* Ajusta automáticamente las filas para que coincidan con el ancho */
  margin: 10px 10px;
  gap: 20px; /* Espacio entre las celdas */
  place-items: center;
  padding: 5%; /* Centra los elementos en las celdas */
}

#MainBentoTitleFunctions > * {
  width: 100%; /* Llenan el ancho de la celda */
  height: 100%; /* Llenan la altura de la celda */
  display: flex;
  align-items: center;
  justify-content: center; /* Centra contenido interno */
}
@media (max-width: 1000px) {
  #MainBento{
    grid-template-columns: 1fr;
    grid-template-rows:1fr 1fr ;
    height: 200vh;
    width: 95%;
    margin-top: 0px;
    min-width: 300px;
    width: 100%;
  }
  #MainBentoTitle{
    margin: 0;
  }
  .banner{
    height: fit-content;
  }
  #MainBentoTitleFunctions{
    margin: 0;
    padding: 5px;
    gap: 10px;
  }
}
@keyframes InitBgEntrance {
  0%{
    background-color: rgba(0,0,0,.0);
  }
  100%{
    background-color: rgba(0,0,0,.2);
  }
}
@keyframes InitTextEntrance {
  0%{
    bottom: -100%;
  }
  100%{
    bottom: 0%;
  }
}
@keyframes flowingbackground1 {
  0%{
    left: 30%;
    opacity: 30%;
  }
  25%{
    left: 0%;
    opacity: 60%;
  }
  50%{
    opacity: 100%;
  }
  75%{
    opacity: 20%;
  }
  100%{
    left: 30%;
    opacity: 30%;
  }
}
@keyframes flowingbackground2 {
  0%{
    right: 20%;
    opacity: 35%;
    scale: 1;
  }
  25%{
    opacity: 70%;
  }
  50%{
    opacity:80%;
  }
  75%{
    right: -40%;
    opacity: 60%;
    scale: .8;
  }
  100%{
    right: 20%;
    opacity: 35%;
    scale: 1;

  }
}